  <footer>
    <div class="footer-container">
      <div class="footer-copyright">
        <h3>© Anime-project 2024</h3>
        <p>Grupo 11 codo a codo - Copyright all rights reserved</p>
      </div>
      <div class="footer-logo">
        <p><a href="./empleo.html">Empleos</a></p>
        <img class="page-icon" src="/images/letter-a-icon.png" alt="Icon anime project" width="35" height="35">
        <img class="cat-icon" src="/images/catlogo.png" alt="Icon anime project" width="65" height="59">
      </div>
    </div>
    <div class="collaborator">
      <a href="https://github.com/EzequielMelo/CodoACodo_Anime-Page" target="_blank">
        <p>Repositorio</p>
      </a>
      <p>Colaboradores: NahirsaMartinez - Lilithgreen - JpCortezF - EzequielMelo</p>
    </div>
  </footer>