<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images//letter-a-icon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/adminDashboards.css">
  <title>Anime project</title>
</head>

{{#if isAuthenticated}}
{{#if isAdmin}}
<div class="main-content">
  {{> sidebar }}
  <div class="dashboard">
    <h1>Panel de control</h1>
    <div class="angry-grid">
      <div id="item-0">
        <div class="admin-image">
          <img src="/images/{{user.foto}}" alt="portada-anime">
        </div>
        <div class="admin-data">
          <h1>Administrador:</h1>
          <h2>{{user.nombre}}</h2>
        </div>
      </div>
      <div id="item-1">
        <div class="card-tittle">
          <div class="tittle">
            <h1>Animes:</h1>
          </div>
          <img src="/images/anime.png" alt="portada-anime">
        </div>
        <div class="admin-data">
          <a href="/adminAddAnime" class="">
            <i class="lni lni-circle-plus"></i>
            <span>Añadir anime</span>
          </a>
          <a href="#" class="">
            <i class="lni lni-circle-minus"></i>
            <span>Eliminar anime</span>
          </a>
          <a href="#" class="">
            <i class="lni lni-pencil"></i>
            <span>Editar anime</span>
          </a>
        </div>
      </div>
      <div id="item-2">
        <div class="card-tittle">
          <div class="tittle">
            <h1>Episodios:</h1>
          </div>
          <img src="/images/episode.png" alt="portada-anime">
        </div>
        <div class="admin-data">
          <a href="#" class="">
            <i class="lni lni-circle-plus"></i>
            <span>Añadir episodio</span>
          </a>
          <a href="#" class="">
            <i class="lni lni-circle-minus"></i>
            <span>Eliminar episodio</span>
          </a>
          <a href="#" class="">
            <i class="lni lni-pencil"></i>
            <span>Editar episodio</span>
          </a>
        </div>
      </div>
      <div id="item-3">
        <div class="card-tittle">
          <div class="tittle">
            <h1>Noticias:</h1>
          </div>
          <img src="/images/news.png" alt="portada-anime">
        </div>
        <div class="admin-data">
          <a href="#" class="">
            <i class="lni lni-circle-plus"></i>
            <span>Añadir noticia</span>
          </a>
          <a href="#" class="">
            <i class="lni lni-circle-minus"></i>
            <span>Eliminar noticia</span>
          </a>
          <a href="#" class="">
            <i class="lni lni-pencil"></i>
            <span>Editar noticia</span>
          </a>
        </div>
      </div>
      <div id="item-4">
        <div class="card-tittle">
          <div class="tittle">
            <h1>Permisos:</h1>
          </div>
          <img src="/images/auth.png" alt="portada-anime">
        </div>
        <div class="admin-data">
          <a href="#" class="">
            <i class="lni lni-pencil"></i>
            <span>Administrar permisos</span>
          </a>
        </div>
      </div>
      <div id="item-5">
        <div class="card-tittle">
          <div class="tittle">
            <h1>Metricas:</h1>
          </div>
          <img src="/images/metrics.png" alt="portada-anime">
        </div>
        <div class="admin-data">
          <a href="#" class="">
            <i class="lni lni-stats-up"></i>
            <span>Ver metricas del sitio</span>
          </a>
        </div>
      </div>
      <div id="item-6">
        <div class="card-tittle">
          <div class="tittle">
            <h1>Opciones:</h1>
          </div>
          <img src="/images/options.png" alt="portada-anime">
        </div>
        <div class="admin-data">
          <a href="#" class="">
            <i class="lni lni-cog"></i>
            <span>opciones de la pagina</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{{/if}}
{{/if}}