<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vista Protegida</title>
</head>
<body>
  <h1 style="padding-top:300px;">Bienvenido, {{user.nombre}}!</h1>
  <p>Esta es una vista protegida que solo puedes ver si estás autenticado.</p>
  <a href="/logout">Cerrar sesión</a>
</body>
</html>