<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images//letter-a-icon.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="/stylesheets/acceso.css">
  <title>Anime project - Acceso</title>
</head>

<div class="container-form" style="height: 100vh;">
  <div class="form-content">
    <img src="/images/cat-image.png" alt="Gato" class="gato-img">
    <h1 id="title">Acceder</h1>
    <form id="form-account" action="/register" method="POST">
      <div class="grupo-input">
        <div class="input-field">
          <i class="fa-solid fa-user"></i>
          <input type="text" placeholder="Usuario" id="usuario" name="usuario">
        </div>
        <div class="input-field">
          <i class="fa-solid fa-envelope"></i>
          <input type="text" placeholder="Email" id="email" name="email">
        </div>
        <div class="input-field">
          <i class="fa-solid fa-lock"></i>
          <input type="password" placeholder="Contrase単a" id="contrase単a" name="contrase単a">
        </div>
      </div>
      <div class="btn-field">
        <button type="submit" id="LogButton" class="btn btn-danger me-2">Registrar</button>
      </div>
      <div id="LogIn">
        <p class="account-text">多Ya tienes cuenta?</p><a class="link-text" href="/login">Acceder</a>
      </div>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"
  integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/registerhandler.js"></script>