
.banner-container {
    position: relative;
}

.banner-fondo {
    display: absolute;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.801), transparent), url('https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx113415-bbBWj4pEFseh.jpg');
}

.sidebar-content{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 450px;
    margin-right: 1rem;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.anime-content{
    display: flex;
    justify-content: center;
    position: relative;
    width: 60%;
}

.anime-img {
    margin-bottom: 1.5rem;
}

.anime-img img{
    position: relative;
    top: -30%;
    left: auto;
    width: 230px;
    height: 350px;
    border-radius: 3px;
    z-index: 10;
}

.button-container {
    position: relative;
    top: -25%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button {
    width: 100%;
    margin-bottom: 1rem;
}

.info-container {
    background-color: transparent;
    height: auto;
    border-radius: 5px;
    color: white;
}

.info {
    background-color: #1b0e3b;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.info-container h2 span{
    font-size: 0.5em;
}

.info-container p,
.info-container ul {
    font-size: 0.8em;
}

.chapters-container {
    background-color: #1b0e3b;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-top: 1.5rem;
}

.episodes-container ol {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.episodes-container a{
    display: flex;
    flex-direction: row;
    height: 120px;
    margin-top: 2%;
    color: white;
    text-decoration: none;
}

.episodes-container a:hover,
.episodes-container p:hover{
    cursor: pointer;
    color: rgb(135, 135, 135);
}

.episodes-container a > img{
    width: 150px;
    height: auto;
}

.episodes-container h4{
    font-size: 1em;
    color: #d13d49;
}

.episodes-container p{
    font-size: 0.7em;
    margin: 0;
}

.episode-info {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}


.styled-select{
    display: flex;
    justify-content: start;
    width: 150px;
    padding: 3px 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.styled-select:focus {
    border-color: #66afe9;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

@media (max-width: 1200px){

    .anime-content{
        display: flex;
        justify-content: center;
        position: relative;
        width: 65%;
    }

    .info h2{
        font-size: 1.5rem;
    }

    .info h4{
        font-size: 1.3rem;
    }

    .info p,
    .info ul{
        font-size: 0.7em;
    }

    .styled-select{
        width: 140px;
        font-size: 0.6em;
        padding: 1.5px 3.5px;
    }

    .episodes-container a > img{
        width: 140px;
        height: 90px;
    }

    .episodes-container h4{
        font-size: 0.8em;
    }
    
    .episodes-container p{
        font-size: 0.6em;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0;
    }
    
    .episodes-container a{
        height: 90px;
    }
}

@media (max-width: 1000px){

    .anime-content{
        display: flex;
        justify-content: center;
        position: relative;
        width: 70%;
    }

    .info h2 span{
        font-size: 0.65rem;
    }

    .info p,
    .info ul{
        font-size: 0.6em;
    }

    .styled-select{
        width: 120px;
    }

    .episodes-container a > img{
        width: 120px;
        height: 90px;
    }

    .episode-info h4{
        font-size: 0.8em;
    }
    
}

@media (max-width: 858px){

    .anime-content{
        display: flex;
        justify-content: center;
        position: relative;
        width: 80%;
    }

    .styled-select{
        width: 100px;
    }

    .episodes-container a > img{
        width: 100px;
        height: 90px;
    } 
}
@media (max-width: 768px){

    .main-container{
        margin-top: -130px;
    }

    .anime-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #00000026;
      border: 2px solid rgba(191, 191, 191, 0.174);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      width: 90%;
    }

    .anime-img{
        display: flex;
        justify-content: center;
    }

    .anime-img img {
        width: 230px;
        height: 350px;
        
    }
    
    .sidebar-content {
      order: -1;
      width: 90%;
      margin: 0 0 2rem 0;
    }
    
    .sidebar-content button{
        width: 60%;
    }
    .button-container{
        margin-top: 0;
    }

    .episodes-container a > img{
        width: auto;
        height: auto;
    }

    .episode-info h4{
        display: block;
        text-align: start;
        font-size: 0.8em;
    }

    .episodes-container p{
        display: inline-block;
    } 
}

@media (max-width: 576px){
    .anime-content img {
        width: 180px;
        height: 270px;
    }
}