.banner{
  position: relative;
  height: 450px;
  overflow: hidden;
  padding: 20px 0;
  margin: -20px 0 20px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0));
}
 
.banner-fondo {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  filter: blur(6px);
  z-index: -5;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.801), transparent), url('https://s4.anilist.co/file/anilistcdn/media/anime/cover/large/bx113415-bbBWj4pEFseh.jpg');
}
  

.banner-contenido{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; 
  z-index: 1;
}

.titulo-serie{
  font-size: 2.2rem;
  padding: 5px 0;
  display: inline-block;
  color: black;
  font-weight: 00;
}
.portada-anime{
  position: relative;
  margin-left: 0.4rem;
  width: 230px;
  height: 350px;
  object-fit: cover;
  border-radius:1rem;
  display:inline-block;
  display: block;
}

.contenedor-portada-anime{
  max-width: 320px;
}

.serie-contenedor{
  width: 320px;
}

.container {
  position: relative;
   
}
  
.banner-container {
  position: relative;
  z-index: 1;
}
  

.content-container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-start;
  margin-top: -30px;
}
  
.cover-container {
  margin-right: 20px;
}

  
.info-container {
  background-color: #1b0e3b;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 55px;
  color: white;
}
  
.titulo-serie {
  margin-top: 0;
  color: white
}
  
.additional-info {
  margin-top: 20px;
}

/*BOTONES FAVORITOS Y PUNTUAR*/
.button-container {
  display: grid;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}
  
.btn-favorite,
.btn-puntuar {
  padding: 8px 16px;
  background-color: #1b0e3b;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px;
  width: 230px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 500;
}
  
.btn-favorite:hover{
  background-color: #d13d49;
  color: black;
}

.btn-puntuar:hover {
  background-color: #e6a121 ;
  color: black;
}


/*BOTONES EPISODIO- RESEÑA*/
.grafico{
  --porcentaje:30%;
  width: 50%;
  display: inline;
}

.graficos1{
  margin: 10%;
  margin-top: 20px;
}

.graficos2{
  margin: 10%;
  margin-top: 20px;
}

.comentarios-serie{
  color: white;
  display: grid;
  grid-template-columns: 80% 10%;
  grid-template-rows: 100%;
  gap: 10%;
  margin-top: 7%;
}

.detalle-comentario-serie{
  text-align: justify;
}

.puntuacion-serie{
  font-size: large;
}

.foto-usuario{
  margin-top: 60px;
}
.foto-usuario-forma{
  width: 100%;
  border-radius: 50%;
}